h1 {
    font-family: Helvetica, sans-serif;
    color: hsl(36, 100%, 56%);
    font-weight: 700;
}

h2 {
    color:hsl(194, 49%, 45%);
}

p {
    font-family: Garamond, sans-serif;
    color: rgb(0, 43, 49);
}

a {
    color:hsl(271, 76%, 53%);
}

